.modal-tech-medicalist-container{
    .d-image {
        width: 80%;
        margin: 0 auto; // căn giữa
        img {
            width: 100%;
            height: auto; 
            // display: block; 
        }
    }
}